#root {
  height: 100dvh;
  min-height: 600px;
  min-width: 900px;
  text-align: center;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: system-ui, "Segoe UI", sans-serif;
}

button,
input,
select {
  font: inherit;
}

.btn {
  display: inline-flex;
  box-sizing: border-box;
  width: fit-content;
  min-width: 70px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}
